.competition-wrapper {
    color: #b40024;
    border: 2px solid #b40024;
    border-radius: 5px;
    padding: 16px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(251, 246, 243, 0.7);;

    @media (min-width: 768px) {
        width: calc(50% - 44px);
    }
}

.competition-title {
    text-align: center;
    margin: 4px 0 0;
    min-height: 60px;
}

.competition-date {
    color: black;
}

.toggle-button {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
    color: #b40024;
}

.competition-place {
    color: black;
}