.footer-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(251, 246, 243, 0.3);
    padding-inline: 20px;
    padding-block: 8px;
    gap: 4px;
    margin-bottom: 4px;

    @media (min-width: 768px) {
        padding-inline: 60px;
    }
}

.footer-left {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-text {
    width: 50%;
    align-self: flex-start;
}

.footer-images {
    width: 50%;
    text-align: end;
}

.footer-phone {
    a {
        text-decoration: none;
        color: black;
    }
}

.footer-copyright {
    align-self: flex-end;
    font-size: 12px;
}

.footer-image-firelogo {
    width: 50px;
    height: 50px;
}

.footer-image-logo {
    width: 100px;
    height: 50px;

    @media (min-width: 768px) {
        width: 180px;
    }
}