/* Global reset */

/* Navbar styling */
.navbar-warpper {
    position: relative;

    @media (min-width: 768px) {
        display: inline-flex;   
    }
}

.navbar {
    background-color: #b40024;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
        display: none;
    }
}

.nav-links {
    display: none; /* Hide menu on mobile */
    flex-direction: column;
    position: absolute;
    top: 48px; /* Adjust based on navbar height */
    right: 0;
    width: 100%; /* Full width for mobile */
    background-color: #b40024; /* Background for mobile menu */
    padding: 20px 0;
    text-align: left;
    list-style-type: none; /* Remove bullet points */
    margin: 0;

    @media (min-width: 768px) {
        top: 0;
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        width: 100%; /* Make sure the nav takes up the full width */
        padding: 8px 30px;
        margin: 0;
    }
}

/* Styling individual items */
.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    padding: 0px; /* Add padding to make the links bigger */
    color: white; /* Ensure the text color is readable */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Adjust font size */
    border-radius: 5px;
}

/* Hover effect for menu links */
.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Lighten background on hover */
    color: yellow; /* Change text color on hover */
    text-decoration: underline;
}

/* Hamburger menu icon styling */
.hamburger {
    display: flex; /* Show hamburger icon on mobile */
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}

.nav-links.open {
    display: flex; /* Show links when hamburger is clicked */
    flex-direction: column; /* Stack links vertically */
    position: absolute;
    top: 48px; /* Adjust the vertical position */
    right: 0;
    width: 100%; /* Full width for mobile */
    background-color: #b40024; /* Background for better readability */
    padding: 20px 0;
    gap: 4px;
    z-index: 1000;

    @media (min-width: 768px) {
        display: none;
    }
}

