.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .zoomed-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* No scrolling in modal */
  }
  
  /* Ensure the image fits within the modal */
  .zoomed-content img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  