.medals {
    margin-top: 4px;
}

.medals-wrapper {
    text-align: left;
}

.medals-gold {
    color: gold;
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.552),  
    1px -1px 0 rgba(0, 0, 0, 0.552),
    -1px 1px 0 rgba(0, 0, 0, 0.552),
    1px 1px 0 rgba(0, 0, 0, 0.552);
}

.medals-silver {
    color: silver;
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.552),  
    1px -1px 0 rgba(0, 0, 0, 0.552),
    -1px 1px 0 rgba(0, 0, 0, 0.552),
    1px 1px 0 rgba(0, 0, 0, 0.552);
}

.medals-bronze {
    color: #cd7f32;
    text-shadow: 
    -1px -1px 0 rgba(0, 0, 0, 0.552),  
    1px -1px 0 rgba(0, 0, 0, 0.552),
    -1px 1px 0 rgba(0, 0, 0, 0.552),
    1px 1px 0 rgba(0, 0, 0, 0.552);
}