body {
    margin: 0
}

.page-body {
    background: url('/images/desktop-orange.jpg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the entire page */
    background-attachment: fixed;
}

.login-logout-button {
    width: 25%;
    align-self: center;
    margin-top: 12px;
    text-align: end;

    button {
        font-size: 14px;
        min-height: 32px;
        height: 32px;
        color: #fff;
        background-color: #b40024;
        border: 2px solid #b40024;
        border-radius: 5px;
        box-shadow: 0 0 0 3px transparent;
        min-width: 80px;
    }

    @media (min-width: 768px) {
        align-self: flex-end;
        flex: 0 0 10%;
        margin-left: auto;
        margin-top: unset;
        width: auto;
    }
}

.text-center {
    text-align: center;
}